NODE_ENV=development
PORT=3000

DATABASE_HOST=metro.proxy.rlwy.net
DATABASE_PORT=35148
DATABASE_NAME=horario_genetico
DATABASE_USER=postgres
DATABASE_PASSWORD=BQwIhTnLErLoEFWQvXgvTMtIrKRmcwVh

DATABASE_SYNCHRONIZE=false
DATABASE_LOGGING=true
